body{
    background-color: #18191A;
    padding: 0px;
    margin: 0px;
}


.container{
    background-color: #242526;
    padding:40px;
    margin: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.diseños{
    background-color: hsl(180, 1%, 21%);
    border-radius: 20px;
    padding:20px;
    height: 150px;
    display: flex;
    justify-content: space-around;
}
.container :hover{
    background-color: rgb(74, 75, 75);
}
.diseños img{
    height: 100%;
}